In [2]:
import datetime as dt
x = dt.datetime.now()
name = input("Enter name - ")
y = dt.datetime.now()
print(x)
print(y)
print(y-x)

Enter name - parbat
2023-06-07 17:23:03.736263
2023-06-07 17:23:06.755660
0:00:03.019397

In [3]:
print(x.year)
print(x.month)
print(x.day)

2023
6
7

In [4]:
import datetime
x = datetime.datetime.now()
s1 = x.strftime("%S")
name = input("Enter name = ")

y = datetime.datetime.now()

s2 = y.strftime("%s")
int(s2)-int(s1)

Enter name = parbat

1686138186

In [6]:
## list comprehension

l = [input("Enter the values = ") for i in range(0,10)]
l

Enter the values = 1
Enter the values = 2
Enter the values = 3
Enter the values = 4
Enter the values = 5
Enter the values = 6
Enter the values = 7
Enter the values = 8
Enter the values =
Enter the values = 10

['1', '2', '3', '4', '5', '6', '7', '8', '', '10']

l = [input("Enter name = "):input("ENter address = ") for i in range(2)]

In [12]:
l = {input("Enter name = ") : input("ENter address = ") for i in range(2)}

Enter name = parbat
ENter address = itahari
Enter name = kailash
ENter address = ktm

In [13]:
l

{'parbat': 'itahari', 'kailash': 'ktm'}

In [14]:
import os
os.listdir()

['first_class.ipynb',
 'function.ipynb',
 '.DS_Store',
 'broadway pandas',
 'Sets.ipynb',
 'python project scraping',
 'bill.csv',
 'bonus.ipynb',
 'lists.ipynb',
 'Dictionary.ipynb',
 'Object Oriented Programming',
 'tuples.ipynb',
 'If else statement.ipynb',
 'Numpy',
 'def functions.ipynb',
 'loop.ipynb',
 'Mysql',
 'bill.txt',
 'billing.txt',
 'file handling.ipynb',
 '.ipynb_checkpoints',
 'strings.ipynb',
 'pythonclass_5.ipynb',
 '.git',
 'classworks.ipynb',
 'data.txt',
 'Pandas']

In [15]:
os.mkdir('new_folder')

In [16]:
cd new_folder

/Users/a1/Broadway infosys Python/new_folder

In [17]:
pwd

'/Users/a1/Broadway infosys Python/new_folder'

In [18]:
os.rmdir('new_folder')

FileNotFoundError: [Errno 2] No such file or directory: 'new_folder'

In [19]:
cd ..

/Users/a1/Broadway infosys Python

In [23]:
os.rename('bill.txt','Bill.txt')

In [25]:
import pandas as pd
data ={'name':['ram', 'shyam', 'Hari'],
       'age' : [45,67,89],
       'add' : ['Kathmandu', 'Bhaktapur', 'lalitpur' ]
}
df = pd.DataFrame(data)
df.to_json('info.json')
df

    name  age        add
0    ram   45  Kathmandu
1  shyam   67  Bhaktapur
2   Hari   89   lalitpur