In [ ]:
## python collections

## list tuples dictionary sets

In [18]:
# List
# Indexable
# accepts Multiple and duplicate
# ordered
# mutable - value is changable without overwriting

a = [1,2,3,4,5,6]
b = ["Apple", "Ball", "cat", "Dog", "Fish"]
print(a[1])
print(b[3])
print(a[0:5:2])

2
Dog
[1, 3, 5]

In [ ]:
b = ["Apple", "Ball", "cat", "Dog", "Fish"]
print(b*2)

In [ ]:
b

In [ ]:
b.append('Meou')

In [ ]:
a

In [ ]:
a.append("meow")

In [ ]:
a

In [ ]:
a =[]
b = input("Enter a value to append")
a.append(b)
print(a)

In [3]:
a = []
n = int(input("Enter n= "))
for i in range(n):
    b = int(input("Enter the value of b = "))
    a.append(b)
print(a)

Enter n= 5
Enter the value of b = 12
Enter the value of b = 23
Enter the value of b = 34
Enter the value of b = 65
Enter the value of b = 43
[12, 23, 34, 65, 43]

In [5]:
print("The max vaue = ", max(a))
print("The max vaue = ", min(a))
print("The sum = ", sum(a))

The max vaue =  65
The max vaue =  12
The sum =  177

In [6]:
a.sort()
print(a)

[12, 23, 34, 43, 65]

In [7]:
a.reverse()
print(a)

[65, 43, 34, 23, 12]

In [10]:
b = ["Apple", "Ball", "cat", "Dog", "Fish", "1"]
print(type(b[5]))

<class 'str'>

In [11]:
b[5] = int(b[5])
print(type(b[5]))

<class 'int'>

In [22]:
# Insert

b.insert(1,"Elephant")
print(b)

#append

b.append("Girafee")
print(b)

#del

del b[1]
print(b)

#pop

b.pop()
print(b)

#extend


a = [1,2,3,4,5,6]
a.extend(b)
print(a)

['Apple', 'Elephant', 'Ball', 'cat', 'Dog', 'Fish']
['Apple', 'Elephant', 'Ball', 'cat', 'Dog', 'Fish', 'Girafee']
['Apple', 'Ball', 'cat', 'Dog', 'Fish', 'Girafee']
['Apple', 'Ball', 'cat', 'Dog', 'Fish']
[1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'cat', 'Dog', 'Fish']

In [23]:
print(a)

[1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'cat', 'Dog', 'Fish']

In [25]:
if "Apple" in a:
    print("Yes")
else:
    print("No")

Yes

In [28]:
a = ["Ram", "Shyam", "Hari", "Sita", "Gita"]
if "ram".lower() in [s.lower() for s in a]:
    print("Yes")
else:
    print("No")

Yes

In [29]:
a = ["Zebrea", "Orange", "Apple", "Xray", "Ant", "Pine Apple"]
del a[0:2]
a

['Apple', 'Xray', 'Ant', 'Pine Apple']

In [30]:
a.remove("Xray")

In [31]:
a

['Apple', 'Ant', 'Pine Apple']

In [42]:
a = ["Zebrea", "Orange", "Apple", "Xray", "Ant", "Pine Apple", "Apple", "Ant"]
n = a.count("Apple")
for i in range(len(a)):
    if a[i] == "Apple":
        print(i)

2
6

In [52]:
a = ["Zebra", "Orange", "Apple", "Xray", "Ant", "Pine Apple", "Apple", "Ant"]
for i in range(len(a)):
    if a[i][0] == "A":
        print(a[i])

Apple
Ant
Apple
Ant

In [53]:
### lists inside list

a= [1,[2,3], [4,5] , 6, 7, 8, [10,11]]

[1, [2, 3], [4, 5], 6, 7, 8, [10, 11]]

In [54]:
a= [[1,2,3],
    [4,5, 6],
    [7, 8, 9]]

In [57]:
## appending data into the list

info = []
n = int(input("Enter n= "))
for i in range(n):
    name = input("Enter name= ")
    age = int(input("Enter age = "))
    Add = input("Enter address = ")
    data = [name, age, Add]
    info.append(data)
    
print(info)

Enter n= 3
Enter name= parbat
Enter age = 20
Enter address = itahari
Enter name= rohan
Enter age = 21
Enter address = ktm
Enter name= bikul
Enter age = 22
Enter address = ktm
[['parbat', 20, 'itahari'], ['rohan', 21, 'ktm'], ['bikul', 22, 'ktm']]

In [59]:
info[0][0]

'parbat'

In [62]:
info[0][0] = ("Shyam")

In [63]:
info[0][0]

'Shyam'

In [90]:
a = ["Ram", "Shyam", "Hari", "Sita", "Gita"]
b = input("Enter the name to check = ")
for i in range(len(a)):
    if b.lower() == a[i].lower():
        print(f"Yes {b} is available")
        break
else:
    print("No")

Enter the name to check = hari
Yes hari is available

In [64]:
## searching row data using name

In [83]:
a = [['parbat', 20, 'itahari'], ['rohan', 21, 'ktm'], ['bikul', 22, 'ktm']]

x = input("Enter the name to search= ")
for i in range(len(a)):
    if x.lower() in [s.lower() for s in a[i][0]]:
        print("parbat is available")
    else:
        print("Parbat is not available")
        break

Enter the name to search= parbat
Parbat is not available

In [84]:
a = [['parbat', 20, 'itahari'], ['rohan', 21, 'ktm'], ['bikul', 22, 'ktm']]

search_str = input("Enter the string to search: ")

for i in range(len(a)):
    if search_str.lower() == a[i][0].lower():
        print(f"The first element of the {i+1}th data is {a[i][0]}")
        break
else:
    print(f"{search_str} is not available in the list")

Enter the string to search: parbat
The first element of the 1th data is parbat

In [96]:
d = {"name":["Ram", "Shyam", "Hari"],
     "age":[45,46,37],
     "add":["Kathmandu", "Lalitpur","Bhaktapur"]}

In [1]:
d = {"name":[], "age":[], "add": []}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    d["name"].append(name)
    d["age"].append(age)
    d["add"].append(add)
d

Enter n = 1
Enter name = parbat
Enter age = 20
Enter address = itahari

{'name': ['parbat'], 'age': [20], 'add': ['itahari']}