In [1]:
#for loop
#while loop

In [4]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,10, 2): #jump 2 times
    print(i)

1
3
5
7
9

In [8]:
for i in range(1,12,3):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world

In [11]:
for i in range(12,1, -3):
    print(i)

12
9
6
3

In [20]:
n = int(input("enter the number you want to create table"))
for i in range(1,11):
    print(f"{n} * " + str(i) + " = " + str(n *i))

enter the number you want to create table99
99 * 1 = 99
99 * 2 = 198
99 * 3 = 297
99 * 4 = 396
99 * 5 = 495
99 * 6 = 594
99 * 7 = 693
99 * 8 = 792
99 * 9 = 891
99 * 10 = 990

In [6]:
bill = " "
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name =")
    price = int(input("Enter price ="))
    quantity = int(input("Enter quantity = "))
    total = price * quantity
    grand_total = grand_total + total
    data = name + str(price) + str(quantity) + str(total) + "\n"
    bill = bill + data
print(bill)
print("All total", grand_total)

Enter n = 2
Enter name =parbat
Enter price =500
Enter quantity = 4
Enter name =bikul
Enter price =400
Enter quantity = 3
 parbat50042000
bikul40031200

All total 3200

In [20]:
a= "Hello world i am python"
for i in a:
    if i != " ":
    	print(i, end = ".")

H.e.l.l.o.w.o.r.l.d.i.a.m.p.y.t.h.o.n.

In [33]:
a = "Hello_World_I_Am_Python"
for i in a:
    if i != "_":
        print(i, end = "")
    elif i == "_":
        i = " "
        print(i, end = "")

Hello World I Am Python

In [2]:
a = 0
while a < 5:
    print(a,"a is less than 5")
    a = a + 1

0 a is less than 5
1 a is less than 5
2 a is less than 5
3 a is less than 5
4 a is less than 5

In [3]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [2]:
i = 1
n =int(input("Enter n= "))
while i <= 10:
    print(str(n), "*" , str(i) , " = " , i*n )
    i = i + 1

Enter n= 99
99 * 1  =  99
99 * 2  =  198
99 * 3  =  297
99 * 4  =  396
99 * 5  =  495
99 * 6  =  594
99 * 7  =  693
99 * 8  =  792
99 * 9  =  891
99 * 10  =  990

In [2]:
i = 0
s = 0
n = int(input("Enter n = "))
while i < n:
        x = int(input("Enter the value of x = "))
        s = s + x
        print(s)
        i = i + 1

Enter n = 4
Enter the value of x = 5
5
Enter the value of x = 5
10
Enter the value of x = 5
15
Enter the value of x = 5
20

#program to check prime or composite number
a = int(input()

In [47]:
#program to check prime or composite number
a = 0
a = int(input("Enter a number"))
l = a % 2
while l == 0:
    if a == 2:
    	print("The number is a prime")
    break
    print("The number is a composite number")
    break
else:
	print("The number is a prime number")

Enter a number2
The number is a prime

In [20]:
a = " I am python. I am best"
for i in a:
    if i == '.':
    	break
    print(i, end="")

 I am python

In [11]:
a= "Hello, i am python. I am best"
for i in a:
    if i == '.':
        break
    print(i, end = "")

Hello, i am python

In [51]:
a= "Hello, i am python. I am best"
for i in range(len(a)):
    if (a[i]) == '.':
        break
    print(a[i], end ='')

Hello, i am python

In [ ]:
## pass doesn't do anything in a loop