In [ ]:
# Set
# No indexing
# unordered
# Multiple but no duplicate
# Mutable

In [ ]:
S = set()   # Defining empty set

In [ ]:
s = {"Apple", "Fish", "Cat", "Ball"}

In [ ]:
s

In [ ]:
print(s)

In [ ]:
s.add("Elephant")

In [ ]:
r = {"goat", "Horse"}

In [ ]:
s.update(r)

In [ ]:
s

In [3]:
send = set()
n = int(input("Enter the no of values to add = "))
for i in range(n):
    value = input("Enter the value = ")
    send.add(value)
print(send)

Enter the no of values to add = 4
Enter the value = parbat
Enter the value = nepal
Enter the value = kailash
Enter the value = Nepal
{'nepal', 'parbat', 'Nepal', 'kailash'}

In [6]:
# in {} no concat no multiplication
s = {"Apple", "Fish", "Cat", "Ball"}
s.add("Elephant")
r = {"goat", "Horse"}
s.update(r)
s

{'Apple', 'Ball', 'Cat', 'Elephant', 'Fish', 'Horse', 'goat'}

In [7]:
# Union()
# Intersection()
# Difference() A - B

a = {1,2,3,4,5}
b = {3,4,5,6,7}
union(a,b)

In [9]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

In [10]:
c = a.union(b)

In [11]:
d = a.intersection(b)

In [15]:
e = a.difference(b)
e = a - b  # difference and minus both are same

In [16]:
print(c)
print(d)
print(e)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}