In [1]:
## tuple
#Indexing
#ordered
#multiple and duplicate data
#Imutable


## tuple value is not changable

In [4]:
t = (1,2,3,)

In [5]:
type(t)

tuple

In [6]:
t = ("Apple", "Banana", "cat","Fish")

In [7]:
print(t)
print(t[0:3])

('Apple', 'Banana', 'cat', 'Fish')
('Apple', 'Banana', 'cat')

In [8]:
print(t[2])

cat

In [15]:
a= (1,2,3,4)
b = a

In [14]:
b

[1, 2, 3, 4]

In [16]:
c = a + b

In [17]:
c

(1, 2, 3, 4, 1, 2, 3, 4)

In [18]:


a = ()
b = ("Apple",)
a = a + b

In [22]:
## concadination in tuples


t = ()
n = int(input("Enter the value n = "))
for i in range(n):
    x = input("Enter the value x = ")
    t = t + (x, )
print(t)

Enter the value n = 2
Enter the value x = parbat
Enter the value x = nepal
('parbat', 'nepal')

In [26]:
tuple(x)

('n', 'e', 'p', 'a', 'l')