In [7]:
import mysql.connector

# Connect to the MySQL database
cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="python-5-pm"
)

In [8]:
# Create a cursor object to interact with the database
cursor = cnx.cursor()
    
## Insert

name = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks"))
nepali = int(input("Enter nepali marks"))

total = physics + chemistry + math + english + nepali
per = total/5

if per >= 80:
    grade = "A"
elif per >=60:
    grade = "B"
elif per >=45:
    grade = "C"
else:
    grade = "F"
# Inserting values into a table

sql = f'''INSERT INTO Students(physics, chemistry, math, english, nepali)
Values({physics}, {chemistry}, {math}, {english},{nepali})'''
cursor.execute(sql)

# Selecting values from a table
selectall = "SELECT * from students"
#condition_value = "some_value"

cursor.execute(selectall)

# Fetch all the selected rows
rows = cursor.fetchall()
print(rows)
#insert_query = "INSERT INTO your_table (column1, column2) VALUES (%s, %s)"
#insert_values = ("value1", "value2")

#cursor.execute(insert_query, insert_values)

# Commit the changes to the database
cnx.commit()

# Close the cursor and the connection
cursor.close()
cnx.close()

Enter name = parbat
Enter physics marks = 80
Enter chemistry marks = 90
Enter math marks = 70
Enter english marks90
Enter nepali marks60
[(1, 80, 90, 100, 70, 80), (2, 70, 80, 90, 80, 90), (3, 80, 90, 70, 90, 60)]